.content {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

.usertitle span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-family: inherit;
}

.usertitle i {
    font-size: 18px;
    line-height: 20px;
    font-family: inherit;
    color: #02598b;
}

.usertitle h4 {
    font-size: 16px;
    font-weight: 600;
}