.table {
    border-collapse: inherit;
    background-color: #ccc;
}

.bgCustom {
    background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%);
    color: #333 !important;
    border-radius: 10px;
}

.container.mt-3 {
    padding: 0;
}

.col-sm-5.userLink {
    width: 60%;
    text-align: right;
    padding-top: 5px;
}

.userLink a {
    font-family: cursive;
    font-weight: 500;
    color: #333;
}

button.btn.btn-warning {
    width: 48%;
    background: #333b7d !important;
    border: none;
    color: white;
}

span.badge.bg-primary.badge-pill {
    width: 26px;
    padding: 5px 6px;
    background: #333b7d !important;
}

.col-sm-12.mb-2 h3 {
    display: inline;
}

span.badge.bg-primary.badge-pill {
    float: inherit;
    position: relative;
    left: 6px;
    top: 0;
    font-size: 13px;
}

.container.main {
    padding: 10px 40px 0 40px;
}

.title {
    height: 80px;
    text-decoration: underline;
    font-family: Century Gothic;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: #ccc;
    text-align: center;
    justify-content: center;


    border: 1px solid #ee9e49;
}

.title a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0 0 0;

}

.title a:hover {
    color: #0d1f4a;
    text-decoration: none;
    font-family: cursive;
}

.title h3 {
    font-size: 25px;
    line-height: 30px;
}

.jumbotron.text-center.py-2 a {
    color: #333;
}

h1.userInfo {
    font-size: 40px;
    text-transform: uppercase;
    font-family: inherit;
    line-height: 53px;
}

span.username {
    font-size: 17px;
    font-family: system-ui;
    color: #333b7d;
    font-weight: bold;
    text-decoration: none !important;
}

.border {
    border-color: #ee9e49;
}

.card.card-body.mt-4 {
    padding: 50px;
}