.table {
    border-collapse: inherit;
    background-color: #ccc;
}

.bgCustom {
    background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%);
    color: #333 !important;
    border-radius: 10px;
}
.container.mt-3 {
    padding: 0;
}
.col-sm-5.userLink {
    width: 60%;
    text-align: right;
    padding-top: 5px;
}

.userLink a {
    font-family: cursive;
    font-weight: 500;
    color: #333;
}

button.btn.btn-warning {
    width: 48%;
    background: #333b7d !important;
    border: none;
    color: white;
}

span.badge.bg-primary.badge-pill {
    width: 26px;
    padding: 5px 6px;
    background: #333333 !important;
}

.col-sm-12.mb-2 h3 {
    display: inline;
}

span.badge.bg-primary.badge-pill {
    float: inherit;
    position: relative;
    left: 6px;
    top: -4px;
    font-size: 13px;
}

.container.main {
    padding: 10px 40px 0 40px;
}
.title a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
}
.title a:hover {
    color: #0d1f4a;
    text-decoration: none;
    font-family: cursive;
}
.jumbotron.text-center.py-2 a {
    color: #333;
}