.footer-copy {
    font-size: 12px;
}

footer {
    background-color: #e5e5e5e5;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

footer.px-3.py-2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ddd;
}
