.bd-navbar {
    background-color: #333;
    color: rgb(213, 198, 198);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.nav-link {
    color: rgb(226, 219, 219);
    font-size: 15px;
    font-weight: 400;
}

.nav-link:hover {
    color: #fff;
}

.nav-item a {
    color: #fff;
}

.nav-item a:hover {
    color: #fff;
}

nav.container {
    padding: 0;
}

.top-link {
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
}

.top-link:hover {
    color: #fff;
}

a.nav-link.active {
    background: #333b7d !important;
}

.userType {
    font-size: 16px;
    color: #efebd9;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.logoutIcon {
    font-size: 20px;
}

.bgCustom {
    background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%);
    color: #333 !important;
    border-radius: 10px;
}

.table {
    border-collapse: inherit;
    padding: 20px;
    background-color: #ccc;
}

button.btn-close {
    position: relative;
    left: 0;
    margin-right: 0;
    margin-left: auto;
    display: block;
    top: -30px;
}
li.nav-item {
    padding-left: 20px;
}

ul.nav.nav-pills {
    margin-top: 5px;
    margin-bottom: 5px;
}

a.nav-link.active {
    padding: 10px 20px;
    font-size: 16px;
    font-family: cursive;
}

.form-inline {
    position: relative;
    right: 0px;
    left: 35px;
    padding: 10px;
}

.top-link {
    color: #ffffff;
    text-decoration: none;
    margin-top: 5px;
    font-size: 18px;
    text-decoration: underline;
    font-family: cursive;
}

.logo {
    position: relative;
    left: 25px;
    top: 6px;
}

.logo span {
    display: inherit;
    position: relative;
    text-align: center;
    top: -7px;
    letter-spacing: 0.5em;
    right: -1px;
    color: white;
    font-size: 13px;
    font-family: cursive;
}

.welcome {
    font-size: 16px;
    color: #ddd;
    font-weight: bold;
    font-family: cursive;
}

small {
    color: #fccb4c;
    font-weight: 500;
    cursor: pointer;
}
.usertitle i {
    font-size: 16px;
    font-family: cursive;
    font-weight: 600;
}

.usertitle h4 {
    padding-left: 7px;
    font-weight: 600;
    font-family: inherit;
}